* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgba(50, 50, 205, 1) 0%,
    rgba(70, 130, 180, 1) 100%
  );
  font-family: Arial, sans-serif; 
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 100%;
  width: 520px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #2851b5;
  outline: none;
  width: 75%;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(40, 116, 166, 1) 0%, 
    rgba(9, 132, 227, 1) 100% 
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(0, 150, 136, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(233, 30, 99, 1) 0%,
    rgba(156, 39, 176, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(63, 81, 181, 1) 0%,
    rgba(103, 58, 183, 1) 100%
  );
}

.todo-row:nth-child(4n + 4) {
  background: linear-gradient(
    90deg,
    rgba(244, 67, 54, 1) 0%,
    rgba(255, 152, 0, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}


@media (max-width: 768px) {
  .todo-app {
    width: 90%;
    margin: 64px auto; 
  }

  .todo-input {
    border-radius: 4px; 
    border: 2px solid #5d0cff; 
    width: 90%; 
    margin-bottom: 5px;
  }

  .todo-button {
    border-radius: 4px; 
    border: none; 
    cursor: pointer;
    outline: none;
    width: 90%; 

  }
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ff9900;
}

.copyright {
  margin: 16px 0;
  font-size: 14px;
}

